h3{
  color: green;
  font-size: 2em;
}

body {background-color: rgb(255,400, 200);
font-size: 15px;

}

#estudante-trybe {background-color: red;
}

p {
  font-family: monospace;
}

h1{font-style: italic ;
  text-align: center;
  text-decoration: underline;
}
